In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os


# ▒ .env 환경변수 로드
load_dotenv()
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

# ▒ DB 연결
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:3306/{database}")


# ▒ 데이터 조회
query = """
SELECT 
	*
FROM pollution_emission_facility
WHERE region_small != '소계'
"""
df = pd.read_sql(query, engine)

# 시각화용 정제 및 정렬
df_chart = df[["region_small"]].copy()
df_chart['emission_total'] = df["air_total"] + df["water_total"] + df["noise_total"]

# df_chart = df_chart.sort_values(by=["air_total", "water_total", "noise_total"], ascending=False)

df_chart = df_chart.sort_values(by=['emission_total'], ascending=False)
df_chart

   region_small  emission_total
1            중구             546
22          강남구             456
18         영등포구             423
3           성동구             404
17          금천구             387
15          강서구             373
0           종로구             341
21          서초구             329
16          구로구             274
23          송파구             272
2           용산구             165
10          노원구             151
24          강동구             140
13          마포구             139
9           도봉구             124
7           성북구             106
14          양천구             104
5          동대문구              97
6           중랑구              96
8           강북구              87
4           광진구              84
20          관악구              83
11          은평구              79
12         서대문구              78
19          동작구              78