ipynb파일로 테스트 -> py파일로 작성할 계획입니다

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
import folium
from sqlalchemy import create_engine
from shapely.geometry import shape
from io import BytesIO
import base64

from dotenv import load_dotenv
import os
import json

# .env 파일을 찾아 환경 변수로 로드
load_dotenv()

# 환경 변수 가져오기
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

# ▶️ MySQL 연결
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:3306/{database}")

# ▶️ 반려동물 등록 데이터 가져오기
query = """
SELECT *
FROM companion_animal_registration
"""
df = pd.read_sql(query, engine)

# ▶️ 행정구역 명칭을 folium key와 맞추기 위해 하나로 합치기
df['region'] = df['sigungu']

df
# # ▶️ GeoJSON 경로 지정
# geo_path = 'DATA/02. skorea_municipalities_geo_simple.json'  # 반드시 'region' 컬럼과 feature.properties.name이 일치해야 함

# # ▶️ GeoJSON 로드 (시도+시군구 이름이 properties.name으로 되어 있어야 함)
# with open(geo_path, 'r', encoding='utf-8') as f:
#     geo = json.load(f)

# # ▶️ 지도 시각화
# m = folium.Map(location=[36.5, 127.5], zoom_start=8)



# folium.Choropleth(
#     geo_data=geo_path,
#     data=df,
#     columns=['region', 'total_registered'],
#     key_on='feature.properties.name',
#     fill_color='YlOrRd',
#     fill_opacity=0.7,
#     line_opacity=0.2,
#     legend_name='지역별 반려동물 등록 수'
# ).add_to(m)

,id,sido,sigungu,dog_registered_total,cat_registered_total,total_registered,created_at,region
0,1,서울,전체,537884,7278,545162,2025-07-03 04:11:20,전체
1,2,서울특별시,강남구,34402,441,34843,2025-07-03 04:11:21,강남구
2,3,서울특별시,강동구,25292,223,25515,2025-07-03 04:11:21,강동구
3,4,서울특별시,강북구,18444,141,18585,2025-07-03 04:11:21,강북구
4,5,서울특별시,강서구,33280,356,33636,2025-07-03 04:11:21,강서구
...,...,...,...,...,...,...,...,...
247,248,경상남도,함양군,1537,3,1540,2025-07-03 04:11:22,함양군
248,249,경상남도,합천군,1704,1,1705,2025-07-03 04:11:22,합천군
249,250,제주,전체,52807,2965,55772,2025-07-03 04:11:22,전체
250,251,제주특별자치도,서귀포시,13367,466,13833,2025-07-03 04:11:22,서귀포시
251,252,제주특별자치도,제주시,39440,2499,41939,2025-07-03 04:11:22,제주시

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
import folium
from sqlalchemy import create_engine
from shapely.geometry import shape
from io import BytesIO
import base64

from dotenv import load_dotenv
import os
import json

# .env 파일을 찾아 환경 변수로 로드
load_dotenv()

# 환경 변수 가져오기
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
database = os.getenv("DB_NAME")

# ▶️ MySQL 연결
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:3306/{database}")

In [ ]:
# ▶️ 반려동물 등록 데이터 가져오기
query = """
SHOW tables
"""
pd.read_sql(query, engine)

'''
행정안전부_동물병원 : animal_hospital_registry
행정안전부_동물 미용업 : animal_beauty_business
행정안전부_동물약국 : animal_pharmacy_registry
서울특별시_유기동물보호 현황 통계 (자치구별) : seoul_abandoned_animal_status
'''

                      Tables_in_eda
0            animal_beauty_business
1          animal_hospital_registry
2          animal_pharmacy_registry
3     companion_animal_registration
4             korea_urban_park_info
5              per_capita_park_area
6       pollution_emission_facility
7     seoul_abandoned_animal_status
8      seoul_abandonment_statistics
9             seoul_animal_hospital
10      seoul_animal_trust_facility
11  seoul_noise_vibration_complaint
12        standardized_field_schema

In [8]:
# ▶️ 반려동물 등록 데이터 가져오기
query = """
SELECT *
FROM animal_hospital_registry
"""
df = pd.read_sql(query, engine)

# # ▶️ 행정구역 명칭을 folium key와 맞추기 위해 하나로 합치기
# df['region'] = df['sigungu']

df

,id,number,service_name_open,service_id_open,open_gov_code,mgmt_num,licensg_de,licensg_cncl_de,status_code,status_name,...,data_update_de,category_name,x,y,livestock_division,livestock_process_type,right_holder_serial,total_personnel,unnamed_32,created_at
0,1,1,동물병원,02_03_01_P,4950000,2147483647,2025-06-30,None,1,영업/정상,...,2025-07-02,None,151956.0,165237.0,동물병원,None,000,0.0,None,2025-07-03 04:44:41
1,2,2,동물병원,02_03_01_P,3240000,2147483647,2025-06-30,None,1,영업/정상,...,2025-07-02,None,211524.0,449971.0,동물병원,None,000,0.0,None,2025-07-03 04:44:41
2,3,3,동물병원,02_03_01_P,4671000,2147483647,2025-06-27,None,1,영업/정상,...,2025-06-29,None,177851.0,277557.0,동물병원,None,000,0.0,None,2025-07-03 04:44:41
3,4,4,동물병원,02_03_01_P,3460000,2147483647,2025-06-27,None,1,영업/정상,...,2025-06-29,None,347216.0,259207.0,동물병원,None,000,0.0,None,2025-07-03 04:44:41
4,5,5,동물병원,02_03_01_P,4890000,2147483647,2025-06-27,None,1,영업/정상,...,2025-06-29,None,207345.0,141615.0,동물병원,None,000,0.0,None,2025-07-03 04:44:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10311,10312,10312,동물병원,02_03_01_P,4920000,2147483647,1972-11-15,None,4,취소/말소/만료/정지/중지,...,2024-02-09,None,179198.0,126957.0,동물병원,None,000,0.0,None,2025-07-03 04:45:47
10312,10313,10313,동물병원,02_03_01_P,4170000,2147483647,1969-01-01,None,4,취소/말소/만료/정지/중지,...,2019-03-10,None,247667.0,442602.0,동물병원,None,000,NaN,None,2025-07-03 04:45:47
10313,10314,10314,동물병원,02_03_01_P,5180000,2147483647,1962-05-10,None,4,취소/말소/만료/정지/중지,...,2018-08-31,None,NaN,NaN,동물병원,None,000,NaN,None,2025-07-03 04:45:47
10314,10315,10315,동물병원,02_03_01_P,5100000,2147483647,1961-07-21,None,4,취소/말소/만료/정지/중지,...,2018-08-31,None,373391.0,275445.0,동물병원,None,000,NaN,None,2025-07-03 04:45:47
10315,10316,10316,동물병원,02_03_01_P,5120000,2147483647,1995-06-01,None,1,영업/정상,...,2018-08-31,None,NaN,NaN,동물병원,None,000,NaN,None,2025-07-03 04:45:47

In [ ]:
'''
목표 : 반려견과 살기좋은 주거구역 관련한 1차정보 시각화
  - 서울 자치구별 병원 수
    - 영업중인 병원 -> status_name = 영업/정상
    - 소재지전체주소가 "서울특별시"로 시작 -> jibun_address = "서울특별시*"
'''

# ▶️ 반려동물 등록 데이터 가져오기
query = """
SELECT *
FROM animal_hospital_registry
"""
df = pd.read_sql(query, engine)

# # ▶️ 행정구역 명칭을 folium key와 맞추기 위해 하나로 합치기
# df['region'] = df['sigungu']

df

In [ ]:
'''

행정안전부_동물병원 칼럼
  - 번호
  - 동물병원
  
  - 개방서비스아이디
  - 개방자치단체코드
  
    - 영업상태 -> 필터링 정보
  - 관리번호
  - 인허가일자
  - 인허가취소일자
  - 영업상태구분코드 : 1,2,3,4
  - 영업상태명
  ~~
    - 장소 정보 -> 활용 정보
  - 소재지 전화
  - 소재지 면적
  - 소재지 우편번호
  - 소재지 전체주소 -> 표시
  - 
'''